.cart-container {
  height: calc(100dvh - 97px - 3rem);
}

.cart-products {
  overflow-y: scroll;
  flex-grow: 1;
}

.cart-total-confirm {
  height: 100px !important;
  flex-shrink: 0;
}

.checkout-total-confirm {
  height: 70px !important;
  flex-shrink: 0;
}

.cart-product-card.unavailable {
  background-color: #f8f9fa;
  opacity: 0.8;

  .cart-product-card-infos {
    p.text-danger {
      font-size: 0.875rem;
      margin-top: 0.25rem;
    }
  }

  .cart-quantity-controls {
    pointer-events: none;
  }
}
