<div class="product-description" data-controller="toggle">
  <p data-action="click->toggle#toggle" data-toggle-target="button" class="text-success">Show Description</p>
  <div data-toggle-target="content" class="hidden">
      <p><%= item.itemable.description %></p>
  </div>

  <% if item.itemable.available == false %>
    <p class="text-info">This product is currently not available</p>
  <% end %>
</div>
