<div class="header">
  <div class="container d-flex align-items-center mt-3">
    <% if user_signed_in? %>
      <h4>Welcome, <%= current_user.username %></h4>
    <% else %>
      <h3>Welcome, Guest</h3>
    <% end %>
  </div>
</div>
<div class="container mb-navbar mt-header" data-controller="search">
  <h1>Latest Products</h1>
  <%= form_with(url: items_path, method: :get, data: { search_target: "form", turbo_frame: "items_list" }) do |f| %>
    <%= f.text_field :query,
                      placeholder: "Search items...",
                      data: {
                        search_target: "input",
                        action: "input->search#search"
                      },
                      autocomplete: "off" %>
  <% end %>
  <%# = turbo_frame_tag "items_list" do %>
    <!-- <div data-search-target="list"> -->
      <%# = render partial: "items", locals: { items: @items } %>
    <!-- </div> -->
  <%#  end %>
  <%= render partial: "items", locals: { items: @items } %>
</div>
