.item-card {
  border-radius: 0.25rem;
  overflow: hidden;
  background-color: rgb(42, 42, 42);

  .item-infos {
    padding: 0.5rem;

    p {
      margin: 0;
    }

  }
}

#item-price {
  color: #7c7c7c;
  font-weight: 600;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
 }
 
  @media (max-width: 768px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
 }

.cart-product-card {
  display: flex;
  justify-content: space-between;
  height: 100px;
  border-bottom: 1px solid #7c7c7c7d;
  align-items: center;

  p {
    margin: 0;
  }

  img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-right: 1rem;
  }

  .cart-product-card-infos {
    // flex-grow: 1;
    // border: 1px solid green;
    white-space: normal;
    word-wrap: break-word;
    max-width: 160px;
  }

  .cart-quantity-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60px;
    // border: 1px solid red;
  }
}
